# Absolute path to PluginLoader's executable.
PLUGIN_LOADER_PATH=

# Directory PluginLoader starts in and paths it exposes to plugins.
PLUGIN_LOADER_WORKING_DIRECTORY=
UNPRIVILEGED_PATH=
PRIVILEGED_PATH=
LOG_LEVEL=INFO
